.carrusel {
  width: 100%;
  max-width: 1000px; /* más ancho */
  height: 500px;      /* más alto */
  overflow: hidden;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px #aaa;
}

/*estilo responsivo*/
.container {
  width: 100%; /* en vez de 1200px */
  padding: 2rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .hero-text {
    font-size: 1.2rem;
  }
}

img, video {
  max-width: 100%;
  height: auto;
}

/*.slides {
  display: flex;
  width: 100%;/* 3 magenes imagenes por eso el 100%*/
  /*animation: mover 30s infinite;/*tiempo del la imagenes 
}

.slides img {
  width: 100%;
  height: 500px;
  object-fit:contain;
}
  */


  /*@keyframes mover {
  0%   { transform: translateX(0%); }
  33%  { transform: translateX(-100%); }
  66%  { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}*/

.slides {
  display: flex;
  width: 3000%; /* 30 imágenes * 100% cada una */
  animation: mover 70s linear infinite;/* 30 imágenes * 100% cada una */
}

.slides img {
    height: 500px;/*Altura de la imagen */
    object-fit:contain;/*Contenedor de la imagenes */
  width: calc(50% / 30); /* divide el ancho en 30 partes iguales */
}

@keyframes mover {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-96.66%); } /* 29 imágenes de 3.33% aprox cada una */
}


body{
    background-image: url("..//imagenes/webb.png");
}
header{
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
    color: #571c7d; /* color de la letra */
    text-shadow: 0 0 15px #f2ab1cf4; /*Color del resblandor */
    margin-bottom: 1.2rem;
    text-align: center;
}

.contenedor-boton {
  display: flex;
  justify-content: end; /* se alinea a la derecha */
  margin: 20px;
}


.boton {

  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;

}
 .boton button:hover{

  background-color: #ffffff;
  margin: 5px;
  font-size: 20px;
  
 }
