.carrusel {
  width: 150%;
  height: 150%;
  max-width: 1500px; /* más ancho */
  height: 500px;      /* más alto */
  overflow: hidden;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px #aaa;
}

/*estilo responsivo*/
.container {
  width: 150%; /* en vez de 1200px */
  padding: 2rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (max-width: 800px) {
  .menu {
    flex-direction: column;
  }

  .hero-text {
    font-size: 1.2rem;
  }
}

img, video {
  max-width: 100%;
  height: auto;
}


.slides {
  display: flex;
  animation: mover 80s linear infinite;
  width: calc(1000px * 31); /* 1000px por cada imagen (31 en total) */
}
  
.slides img {
  height: 500px;
  width: 600px; /* o el mismo ancho que `.carrusel` */
  object-fit: cover; /* ajusta la imagen sin distorsión */
  flex-shrink: 0; /* evita que se reduzca automáticamente */
}



/* Animación para mover el carrusel */
@keyframes mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-31000px); /* 31 imágenes * 1000px */
  }
}



body{
    background-image: url("..//imagenes/webb.png");
}
header{
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
    color: #571c7d; /* color de la letra */
    text-shadow: 0 0 15px #f2ab1cf4; /*Color del resblandor */
    margin-bottom: 1.2rem;
    text-align: center;
}

.contenedor-boton {
  display: flex;
  justify-content: end; /* se alinea a la derecha */
  margin: 20px;
}


.boton {

  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: 10px;
  

}
 .boton button:hover{

  background-color: #ffffff;
  margin: 5px;
  font-size: 20px;
  
 }
