/* CSS Cuentos  */
* {
    margin: 0;
    padding: 0 ,0,0,0;
    box-sizing: border-box;
}

body {
    color: #000000;
    min-height: 100vh;
    
    background-image: url("../imagenes/ai-generated-8794273_1280.jpg");
    background-attachment: fixed;
    background-size: cover;        /* Escala la imagen para cubrir toda la pantalla */
   /* background-repeat: no-repeat;  /* Evita que se repita */
    /*background-position: center;   /* Centra la imagen */
}
.container {
    /*width: 100%;
    max-width: 1000px;
    margin: 0 auto;*/

     max-width: 800px;
  margin: 2rem auto;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
    padding: 1rem 0;
    text-align: center;
}

header {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 3.5rem;
    color: #3336ff; /* azul para dar ese toque de noche  */
    text-shadow: 0 0 20px #09d5fef4;
    margin-bottom: 1.2rem;
}

.lead {
    
    font-size: 2.1rem;
    color: #000000;
    font-family: "Twinkle Star", cursive;
    max-width: 600px;
    margin: 0 auto;  
}

.post {
	/*width: 1300px;*/
	margin: 20px auto 30px;
	padding: 25px;
	border: solid 4px rgba(85, 57, 150, 0.43);/*borde azul*/
	background-color: rgb(107, 124, 136);/*fondo azul marino, transparencia 0.9*/

	font-family: 'Raleway', sans-serif;
}

.boton {

  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;

}
 .boton button{

  background-color: #3576b7;
  margin: 20px;
  font-size: 20px;
 }


 

/*--------- pagina responsiva -------------*/
/* Media Queries para hacerlo responsivo */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .post {
    margin: 1rem;
    padding: 1rem;
  }

  .post-header h3 {
    font-size: 1.5rem;
  }

  .post p {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.6rem;
  }

  .post-header h3 {
    font-size: 1.3rem;
  }

  .post p {
    font-size: 0.9rem;
  }

  .boton button {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }
}


