/* CSS URLS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("../imagenes/rosa-5822519_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Shadows Into Light", cursive;
  display: flex;
  justify-content:  flex-end;;
  align-items: center;
  padding: 2rem;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.85);
  color: #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

  margin-left: auto;
}

table th {
  background-color: #e738de;
  color: white;
  padding: 12px;
  text-transform: uppercase;
}

table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

table tr:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}

table tr:nth-child(even):not(:first-child) {
  background-color: #f9f9f9;
}

/* RESPONSIVE TABLE */
@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #fffdfb;
    border-radius: 10px;
  }

  td {
    text-align: left;
    padding: 0.5rem;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem;
    color: #888;
  }
}
